 <div class="user-details">
  <h1> Áreas de Atuação </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design e Criação Digital</h2>
      <i class="icon-adb-photoshop"></i>
      <i class="icon-adb-aftereffects"></i>
      <i class="icon-adb-premiere"></i>

    <p>Edição e criação de imagem com Photoshop; Edição de vídeo com Premiere e Motion graphics com After Effects</p>
    </div>
    
    <div class="tech">
      <h2>Desenvolvimento e Automação</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
    <p>Desenvolvimento de Aplicações Web</p>
    </div>
    
    <div class="tech">
      <h2>Pesquisa e Análise de Dados</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-google-plain colored"></i>
    <p>Gerenciamento de versões com Git; Pesquisa Google Avançada</p>

    </div>
</div>
