<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:victorgois18@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Medium" target="_blank" href="http://medium.com/dgtl-mente"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="http://linkedin.com/in/victorgoisp/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/victorgois"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Sobre Mim</a>
        <a class="link" href="#projects" data-scroll>Projetos</a>
        <a class="link" href="https://open.spotify.com/show/4BjK27fOYRykmTp10yyKtJ" data-scroll>Podcast</a>
        <a class="link" href="http://medium.com/dgtl-mente" data-scroll>Blog</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
